.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px solid black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.main-content {
  display: grid;
  grid-template-columns: 7fr 3fr;
}
.container {
  background-color: bisque;
}

.sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(57, 168, 212);
  color: white;
}

.sidebar > * {
  display: flex;
  gap: 10px;
  font-size: large;
}

.logo-title {
  margin-bottom: 30px;
  font-size: x-large;
}

.communities {
  margin-bottom: 30px;
}

.header {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: white;
}

.header1 {
  padding: 10px;
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.grid-around {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  justify-content: end;
}

.search {
  background-color: lightgray;
  height: 20px;
  border-radius: 10px;
}
.header11 {
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding: 10px;
}

.bold {
  font-weight: bold;
  font-family: sans-serif;
}

.header2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
}

.user {
  display: grid;
  grid-template-columns: 1fr 8fr;
  font-weight: bold;
}

.user-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-weight: bold;
}

.user-options > * {
  background-color: rgb(57, 168, 212);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  padding: 10px;
  height: 30px;
  width: 60px;
}

.info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
}

.announcements {
  display: grid;
  grid-template-rows: 1fr 8fr 8fr 8fr;
  grid-auto-flow: column;
  padding: 25px;
}

.announcements p {
  font-weight: lighter;
}

.Ann {
  font-size: x-large;
  font-weight: bold;
  font-family: sans-serif;
}

.SM,
.CSD,
.UPP {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.main-content {
  background-color: rgb(190, 217, 232);
}

.trending {
  display: grid;
  grid-template-rows: 1fr repeat(4, 2fr);
}

.trending > * {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

i {
  margin-left: 30px;
  margin-top: 20px;
}

.Tre {
  font-size: x-large;
  font-weight: bold;
  font-family: sans-serif;
}

.projects {
  display: grid;
  grid-template-rows: 1fr 30fr;
}

.myProjects {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projTitle {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 2rem;
}

.myProjects > * {
  margin: 20px;
  border: 2px solid gray;
  padding: 30px;
  border-radius: 10px;
  border-left: 5px solid orange;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projIcons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.projContent {
  margin-bottom: 20px;
}
